<section>
  <button class="ui primary basic button">Primary</button>
  <div class="input primary">
    <input type="text" placeholder="nazwa firmy">
  </div>
  <sm-dropdown title="gołębia pocztowego" class="pointing primary">
    <sm-item>emaila</sm-item>
    <sm-item>telefonu</sm-item>
    <sm-item>gołębia pocztowego</sm-item>
  </sm-dropdown>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="typography">
    <h2 class="b-regular-24">Tutaj będzie jedno / dwa zdania o zespole. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <h2 class="b-regular-48">Wypełnij brief.</h2>
    <h2 class="r-bold-36">certyfikat Zend Framework 2</h2>
    <h2 class="r-regular-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</section>
