section{
  margin: 0 55px 0 55px;
  padding-top: 13px;
  >div.header{
    display: flex;
    justify-content: space-between;
    >div:first-of-type{
      img{
        width: 115px;
        height: 153px;
      }
    }
    >div:last-of-type{
      display: flex;
      padding-top: 37px;
      ul{
        display: flex;
      }
    }
  }
}
