/* You can add global styles to this file, and also import other style files */

/*Imports*/

@import "../node_modules/reset-css/reset";
@import "assets/mixins";
@import "assets/colors";

*{
  @include roboto-regular;
  letter-spacing: 1px;
}
/*Default styles for button*/

button.ui.primary.basic.button{
  @include roboto-bold;
  height: 44px;
  padding: 0 30px;
  margin-right: 0;
  border-radius: 0;
  font-size: 17px;
  color: $black!important;
  box-shadow: 0 0 0 2px $yellow inset!important;
  @include button-transition(0.2s);
  &:hover{
    background: $yellow!important;
    box-shadow: 0 0 0 2px $yellow inset !important;
    color: $black !important;
  }
  &:focus{
    box-shadow: 0 0 0 2px $yellow inset !important;
    color: $black !important;
  }
}

/*Default styles for dropdown*/

sm-dropdown.default{
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $black;
  padding: 0!important;
  >div{
    padding: 0 20px;
    .text{
      color: $black!important;
      font-size: 18px;
      @include roboto-bold;
    }
    i{
      font: normal normal normal 14px/1 FontAwesome!important;
      margin-left: 5px!important;
      &:before{
        display: none;
      }
      &:after{
        content: "\f078";
      }
    }
    .menu{
      box-shadow: none!important;
      border: 2px solid black!important;
      border-radius: 0!important;
      margin-top: 11px !important;
      margin-left: -2px!important;
      //position: absolute;
      left: 0;
      right: 0;
      width: calc(100% + 4px);
      .item{
        @include roboto-bold;
        background: white;
        margin-top: -2px;
        padding-left: 10px!important;
        &:hover{
          background: white!important;
        }
      }
      .item.active{
        background: white!important;
      }
      &:after{
        display: none!important;
      }
    }
  }
}
